<% obj.each do |tweet| %>
  <div>
    <div>
      <small><%= tweet.user.fullname %></small>
      <small><%= tweet.user.username %></small>
      <small><%= time_ago_in_words(tweet.created_at) %> ago</small>
    </div>
    <div>
      <%= simple_format(tweet.message) %>
    </div>
  </div>
<% end %>