<h1>Followees list page</h1>

<% if @user == current_user %>
  <%= link_to "[Follow another user]", follow_user_path %>
<% end %>

<div>
  <%= will_paginate @followees, :container => false %>
</div>

<%= render 'user_list', { obj: @followees } %>