<h1>Followees page</h1>

<%= link_to "[Follow another user]", follow_user_path %>

<div>
  <%= will_paginate @followees, :container => false %>
</div>

<%= render 'user_list', { obj: @followees, to_follow: false } %>